@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, span, p, a, input, button {
  font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
  text-decoration: none; }

img {
  display: block; }

html, body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch; }

ul > li {
  list-style: none; }

@font-face {
  font-family: "name";
  src: url("../font/file.TTF"); }
/* 
@include transition(all 0.4s);
@media screen and (min-width:750px) and (max-width: 1000px) {}
@media screen and (max-width:1000px) {}


@media screen and (max-width:1610px) {	
}
@media screen and (max-width:639px) {
}
@media screen and (max-width:415px) {
}
 */
/*藏字*/
/*中心點*/
.banner {
  width: 100%;
  height: auto; }
  .banner img {
    width: 100%;
    height: auto; }
  @media screen and (max-width: 709px) {
    .banner {
      display: none; } }

article {
  position: relative;
  width: 980px;
  height: auto;
  overflow: hidden;
  margin: 70px auto 0 auto; }
  @media screen and (max-width: 980px) {
    article {
      width: 100%; } }
  article > a.newsClose {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../images/news/newsX.jpg");
    position: absolute;
    top: 210px;
    right: 0; }
    @media screen and (max-width: 709px) {
      article > a.newsClose {
        display: none; } }
  article .newTitBox {
    width: 100%;
    height: 193px;
    border-bottom: 2px solid #83c248; }
    @media screen and (max-width: 980px) {
      article .newTitBox {
        border-top: 2px solid #83c248; } }
    @media screen and (max-width: 709px) {
      article .newTitBox {
        border-top: 2px solid #83c248;
        height: auto;
        overflow: hidden; } }
    @media screen and (max-width: 415px) {
      article .newTitBox {
        border-top: 2px solid #83c248;
        height: auto;
        overflow: hidden; } }
    article .newTitBox .newsPic {
      width: 246px;
      height: 191px;
      background-image: url("../images/news/newPagetitle.jpg");
      float: left; }
      @media screen and (max-width: 980px) {
        article .newTitBox .newsPic {
          display: none; } }
    article .newTitBox .news_Page_Title {
      width: 734px;
      height: 191px;
      float: right;
      border-top: 2px solid #83c248; }
      article .newTitBox .news_Page_Title h2 {
        font-size: 52px;
        color: #333333;
        font-weight: 400;
        padding-top: 15px; }
      @media screen and (max-width: 980px) {
        article .newTitBox .news_Page_Title {
          width: 90%;
          height: 191px;
          float: none;
          margin: 0 auto;
          border-top: 0px; } }
      @media screen and (max-width: 709px) {
        article .newTitBox .news_Page_Title {
          height: auto;
          overflow: hidden;
          padding-bottom: 15px; }
          article .newTitBox .news_Page_Title h2 {
            font-size: 36px;
            padding-top: 15px; } }
      @media screen and (max-width: 415px) {
        article .newTitBox .news_Page_Title {
          height: auto;
          overflow: hidden;
          padding-bottom: 15px; }
          article .newTitBox .news_Page_Title h2 {
            font-size: 28px;
            padding-top: 15px; } }
  article .newContent {
    width: 850px;
    height: auto;
    overflow: hidden;
    padding-bottom: 50px;
    margin: 59px auto 0 auto; }
    article .newContent img {
      width: 100%;
      height: auto;
      margin-bottom: 30px; }
    article .newContent p {
      font-size: 20px;
      line-height: 1.6em;
      color: #666666;
      padding-bottom: 30px; }
    @media screen and (max-width: 980px) {
      article .newContent {
        width: 80%; }
        article .newContent p {
          font-size: 16px;
          line-height: 1.6em;
          color: #666666;
          padding-bottom: 30px; } }
  article .gotoTopBox {
    width: 100%;
    height: 200px; }
    article .gotoTopBox a.gototopBtn {
      display: block;
      width: 50px;
      height: 83px;
      margin: 0 auto;
      background-image: url("../images/news/gototop.png"); }
